<form action="/tasks" method="get" class="search">
  <%= search_input %>
  <div class="loader htmx-indicator"></div>
  <input type="submit" value="Search" class="button button-act"/>
  <a href="/tasks" class="button button-decline">Clear</a>
</form>
