<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= content_for :title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Hanamismith skeleton application.">
    <meta name="author" content="Hanamismith">

    <link title="Hemo: Favorite Icon"
          rel="icon"
          href="https://alchemists.io/images/projects/hanamismith/icons/favicon.ico"
          sizes="32x32">
    <link title="Hemo: Icon" rel="icon" href="/icon.svg" type="image/svg+xml">
    <link title="Hemo: Apple Icon"
          rel="apple-touch-icon"
          href="https://alchemists.io/images/projects/hanamismith/icons/apple.png"
          type="image/png">
    <link title="Hemo: Manifest" rel="manifest" href="/manifest.webmanifest">
    <link title="Hemo: Stylesheet" rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  </head>

  <body class="home-page">
    <%= yield %>
  </body>
</html>
