html {
  height: 100%;
}

.home-page {
  --font-family: Verdana;
  --color-white: hsl(0, 0%, 100%);

  background-color: var(--color-white);
  background-image:
    radial-gradient(at 17% 25%, hsla(337,26%,88%,1) 0px, transparent 50%),
    radial-gradient(at 17% 68%, hsla(337,26%,88%,1) 0px, transparent 50%),
    radial-gradient(at 50% 45%, hsla(306,81%,77%,1) 0px, transparent 50%),
    radial-gradient(at 81% 25%, hsla(337,26%,88%,1) 0px, transparent 50%),
    radial-gradient(at 81% 68%, hsla(337,26%,88%,1) 0px, transparent 50%),
    radial-gradient(at 9% 7%, hsla(11,86%,46%,1) 0px, transparent 50%),
    radial-gradient(at 9% 93%, hsla(11,86%,46%,1) 0px, transparent 50%),
    radial-gradient(at 91% 7%, hsla(11,86%,46%,1) 0px, transparent 50%),
    radial-gradient(at 91% 93%, hsla(11,86%,46%,1) 0px, transparent 50%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  justify-content: space-between;
  min-height: 97vh;

  .navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }

  @media only screen and (min-width: 350px) {
    .navigation {
      flex-direction: row;
      justify-content: normal;
      margin: 1rem 2rem;
    }
  }

  .label {
    font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  }

  .link {
    color: var(--color-white);
    font-weight: 600;
    font-size: 1.5rem;
  }

  .body {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .logo {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
