@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tasks-page {
  --font-family: Verdana;
  --color-black: hsl(0, 0%, 0%);
  --color-blue: hsl(220, 59%, 48%);
  --color-green: hsl(122, 45%, 45%);
  --color-grey: hsl(0, 0%, 85%);
  --color-powder: hsl(201, 70%, 96%);
  --color-red: hsl(5, 69%, 46%);
  --color-white: hsl(0, 0%, 100%);

  font-family: var(--font-family);
  margin: 1rem 5rem;

  [hx-swap-oob="true"] {
    display: none;
  }

  .button {
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-self: start;
    margin: 0;
    padding:  0.2rem 0.5rem;
    text-decoration: none;
  }

  .button-act {
    background-color: var(--color-blue);
    color:  var(--color-white);
  }

  .button-accept {
    background-color: var(--color-green);
    color:  var(--color-white);
  }

  .button-decline {
    background-color: var(--color-red);
    color: var(--color-white);
  }

  .header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin: 2rem 0;

    .label {
      margin: 0;
    }

    .search {
      display: flex;
      gap: 0.5rem;

      .loader {
        border: 0.3rem solid var(--color-grey);
        border-top: 0.3rem solid var(--color-green);
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        animation: spin 1.5s linear infinite;
      }
    }
  }

  .body, .tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .body {
    .empty {
      align-items:  center;
      display: flex;
      font-size: 1.2rem;
      justify-content: center;
    }

    .new {
      align-self: flex-start;
    }
  }

  .tasks {
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .task {
    background-color: var(--color-powder);
    border-radius: 0.5rem;
    box-shadow:
      0.7px 0.5px 5.3px rgba(0, 0, 0, 0.028),
      2.2px 1.8px 17.9px rgba(0, 0, 0, 0.042),
      10px 8px 80px rgba(0, 0, 0, 0.07)
    ;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .task-new.htmx-swapping {
    opacity: 100;
    transition: opacity 1s ease-in;
  }

  .task-new.htmx-added {
    opacity: 0;
  }

  .task-new {
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  .task-completed {
    background-color: var(--color-grey);
  }

  .task-completed .item {
    text-decoration: line-through;
  }

  .task.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .task {
    .body {
      align-items: center;
      display: grid;
      grid-template: 1fr / 1fr 1fr 1fr;
      justify-content: space-between;

      .group {
        display: flex;
        flex-direction: column;

        .error {
          color: var(--color-white);
          margin: 0;
        }
      }

      .item {
        display: flex;
        gap: 0.5rem;
      }

      .check {
        background: none;
        border: none;
      }

      .label {
        font-weight: 800;

        &::after {
          content: ":";
          padding: 0 0.5rem 0 0;
        }
      }

      .field {
        align-items: center;
        display: flex;
        font-size: 1rem;
        gap: 0.5rem;
      }

      .input {
        font-size: 1rem;
        border: 0.1rem solid var(--color-grey);
      }

      .select {
        font-size: 1rem;
        background-color: var(--color-white);
        border: 0.1rem solid var(--color-grey);
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
      }

      .actions {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
      }

      .error {
        .input {
          border: 0.2rem solid var(--color-red);
        }

        .message {
          background-color: var(--color-red);
          color:  var(--color-white);
          margin: 0;
          padding: 0.1rem 0.2rem;
        }
      }
    }
  }
}
