<% content_for :title, "Hemo" %>

<header class="header">
  <nav>
    <ul class="navigation">
      <li><a href="/" class="link">Home</a></li>
      <li><a href="/tasks" class="link">Tasks</a></li>
    </ul>
  </nav>
</header>

<main class="body">
  <img src="https://alchemists.io/images/projects/hanamismith/icons/small.png"
       alt="Icon"
       class="logo"
       width="192"
       height="192">

  <h1 class="label">Hemo</h1>
</main>

<footer class="footer">
  <ul class="group">
    <li><a href="https://hanamirb.org">Hanami</a></li>
    <li><a href="https://guides.hanamirb.org/v2.0/introduction/getting-started">Guides</a></li>
    <li><a href="https://discourse.hanamirb.org">Forum</a></li>
    <li><a href="https://github.com/hanami/hanami/issues">Issues</a></li>
    <li><a href="https://hanamirb.org/status/">Status</a></li>
    <li><a href="https://github.com/hanami/hanami">Source</a></li>
  </ul>

  <ul class="group">
    <li><a href="https://alchemists.io/projects/hanamismith">Hanamismith</a></li>
    <li><a href="https://github.com/bkuhlmann/hanamismith/issues">Issues</a></li>
    <li><a href="https://github.com/bkuhlmann/hanamismith">Source</a></li>
  </ul>

  <ul class="group">
    <li>Ruby <%= ruby_version %></li>
    <li>Hanami <%= hanami_version %></li>
  </ul>
</footer>
